/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: inter;
  --accent-font: "Press Start 2P";
  --heading-weight: 700;
  --text-weight: 400;
  --main-color: #fff;
  --accent-color: #000;
  --background-pattern: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --content-inline-size: 100%;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --floppy-icon-size: clamp(1.3125rem, 1.904rem + -0.6573vw, 1.75rem);
  --watermark-outline-color: rgba(255 255 255 / 0.5);
  --watermark-text-color: rgba(0 0 0 / 0.5);
  --watermark-inset-inline-end: clamp(
    0.6875rem,
    0.3794rem + 1.3146vw,
    1.5625rem
  );
  --button-text-color: #fff;
  --icon-contour-color: #000;
  --icon-fill-color: #f00;
  --section-save-button-direction: column;
  --dialog-backdrop-color: rgba(0 0 0 / 0.75);
}

@media (min-width: 768px) {

  :root {
    --content-inline-size: clamp(43.75rem, 52.8571rem + -10.119vw, 100%);
  }

  .section-save__button {
    --section-save-button-direction: row;
  }
}
